// Mixins

// General prefixing
@mixin prefix($property, $arguments) {
  -webkit-#{$property}: $arguments;
  -moz-#{$property}: $arguments;
  #{$property}: $arguments;
}

// Vertical Gradient
// Permalink - use to edit and share this gradient:
// http://colorzilla.com/gradient-editor/303029+0,f1f1f4+50,f1f1f4+100
@mixin vertical-gradient($start: $dark, $end: $light) {
  background: -moz-linear-gradient(top, $start 0%, $end 100%); // FF3.6-15
  background: -webkit-linear-gradient(top, $start 0%, $end 100%); // Chrome10-25,Safari5.1-6
  background: linear-gradient(to bottom, $start 0%, $end 100%); // W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$start', endColorstr='$end',GradientType=0 ); // IE6-9
}

// Horizontal Gradient
// Permalink - use to edit and share this gradient:
// http://colorzilla.com/gradient-editor/#303029+0,f1f1f4+50,f1f1f4+100
@mixin horizontal-gradient($start: $dark, $end: $light) {
  background: -moz-linear-gradient(left, $start 0%, $end 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, $start 0%, $end 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, $start 0%, $end 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$start', endColorstr='$end',GradientType=1 ); /* IE6-9 */
}

// Keyframes
@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} { @content; }
  @-moz-keyframes #{$animationName} { @content; }
  @-o-keyframes #{$animationName} { @content; }
  @keyframes #{$animationName} { @content; }
}

// Media query mixin
@mixin tabletAndUp() {
  @media screen and (min-width: 48em) {
    @content;
  }
}
@mixin tabletAndDown() {
  @media screen and (max-width: calc(48em - 1px)) {
    @content;
  }
}



// Add 
@mixin paragraph-angles($color: $dark, $thickness: 1px) {
  &:before, &:after {
    content: "";
    display: block;
    width: 6rem;
    margin-left: calc(50% - 3rem);
    border-bottom: $thickness solid $color;
    @include prefix(transform, rotate(5deg));
  }
  &:before {
    margin-bottom: 3rem;
  }
  &:after {
    margin-top: 3rem;
  }
}