// Typography
@font-face {
  font-family: 'Prophet';
  src: url('../fonts/Prophet-Medium.eot');
  src: url('../fonts/Prophet-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Prophet-Medium.woff') format('woff'),
    url('../fonts/Prophet-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


$type_headline: 'Prophet';
$type_text: 'Maison Neue';
// $type_text: 'Maison Neue', 'Cotham Sans', sans-serif;
