// Typography
@font-face {
  font-family: 'Prophet';
  src: url('../fonts/Prophet-Medium.eot');
  src: url('../fonts/Prophet-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Prophet-Medium.woff') format('woff'),
    url('../fonts/Prophet-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Maison Neue';
  src: url('../fonts/maisonneuebook.woff') format('woff'),
    url('../fonts/maisonneuebook.ttf') format('truetype'),
    url('../fonts/maisonneuebook.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Maison Neue';
  src: url('../fonts/maisonneuedemi.woff') format('woff'),
    url('../fonts/maisonneuedemi.ttf') format('truetype'),
    url('../fonts/maisonneuedemi.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}


$type_headline: 'Prophet';
$type_text: 'Maison Neue';
// $type_text: 'Maison Neue', 'Cotham Sans', sans-serif;
