// Utilities

.u-relative {
  position: relative;
}

.u-z1 { z-index: 1; }
.u-z2 { z-index: 2; }
.u-z3 { z-index: 3; }
.u-z4 { z-index: 4; }
.u-z5 { z-index: 5; }

.u-inlineblock {
  display: inline-block;
}

.u-aligncenter {
  text-align: center;
}

.u-flex-row-spbetween {
  @include prefix(display, flex);
  @include prefix(align-items, space-between);

}
.u-flex-vcenter {
  @include prefix(display, flex);
  @include prefix(justify-content, center);
  @include prefix(align-items, center);
}

.u-pb0 {
  padding-bottom: 0;
}
.u-pt0 {
  padding-top: 0;
}
.u-pv0 {
  padding-top: 0;
  padding-bottom: 0;
}
.u-ph0 {
  padding-left: 0;
  padding-right: 0;
}

.u-font-4x {
  font-size: 4rem;
}

.u-op0 { opacity: 0; }
.u-op30 { opacity: 0.3; }
.u-op50 { opacity: 0.5; }
.u-op70 { opacity: 0.7; }
.u-op100 { opacity: 1; }
