footer {
  @extend section;
  @include horizontal-gradient(rgba($yellow, 0), rgba($yellow, 1));
  @include prefix(clip-path, polygon(0% 10vw, 100% 0%, 100% 100%, 0% 100%));

  a {
    color: $dark;
  }
  a[href*="instagram"],
  a[href*="mailto"] {
    display: flex;
    margin-bottom: 1rem;
    align-items: center;

    &:before {
      content: "";
      display: inline-block;
      width: 2rem;
      height: 2rem;
      margin-right: 1rem;
      background: url('../images/instagram.svg');
      background-size: contain;
    }
  }
  a[href*="mailto"] {
    &:before {
      background: url('../images/envelope.svg');
    }
  }

  h4 {
    margin-bottom: 0.5rem;
  }

  .footer__left {
    padding-top: 2rem;
    padding-bottom: 3rem;
  }
}
