header {
  position: relative;
  z-index: 3;
  padding: 5vh 10vw;
  text-align: center;

  .row {
    width: calc(100% + 1rem);
    margin: 0 -0.5rem;
    @include prefix(align-items, center);
  }
  .header__col-logo {
    text-align: center;
  }
  .header__col-menu {
    margin: 1.5rem 0;

    @include tabletAndUp() {
      margin: 0;
      text-align: left;
    }
  }
  .header__col-menu,
  .header__col-actions {
    a + a {
      margin-left: 1rem;
    }
  }
  .header__col-actions {

    @include tabletAndUp() {
      text-align: right;
    }

    a {
      color: $white;
    }
  }
}
