.theatre {
  position: relative;
  color: $light;

  &.theatre--overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    background: $dark;

    @include prefix(transition, all 0.3s ease);
    @include prefix(transform, translateY(-5rem));
    opacity: 0;
    pointer-events: none;

    &.isActive {
      @include prefix(transform, translateY(0));
      opacity: 1;
      pointer-events: all;

    }

    .theatre__slide {
      opacity: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100vh;

      @include tabletAndDown() {
        height: 95vh;
      }

      figure {
        height: 100%;
      }

      .theatre__slide--meta {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        font-size: 0.875rem;
        opacity: 0;
        @include prefix(transition, all 1s ease);

        @include vertical-gradient(rgba($dark, 0), rgba($dark, 1));

        p {
          font-size: inherit;
        }
      }
      figure.figure--video + .theatre__slide--meta {
        max-height: 3rem;

        &:hover {
          max-height: 100vh;
        }
      }
    }
  }
  .owl-item.active {
    .theatre__slide--meta {
      opacity: 1;
    }
  }
  .owl-carousel {
    padding-top: 5vh;
    padding-bottom: 20vh; 

    @include tabletAndUp() {
      padding: 0;
    }
    @media screen and (max-width: ($vp_tablet - 1)) {
      .owl-stage-outer {
        background-color: rgba($black, 0.25);
      }
    }
  }
  .theatre__slide {
    opacity: 0.9;
    width: 100vw;

    figure {
      max-height: 95vh;
      @include prefix(display, flex);
      @include prefix(justify-content, center);
      @include prefix(align-items, center);

      @include tabletAndUp() {
        margin-left: 10vw;
        margin-right: 10vw;
        width: 80vw;
      }
    }

    // Video interaction
    .owl-video-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      background: none;
      @include prefix(display, flex);
      @include prefix(justify-content, center);
      @include prefix(align-items, center);
      width: 100%;
      height: 100%;

      &:hover .owl-video-play-icon {
        opacity: 0;
        cursor: url('../images/play-icon.png'), pointer;
      }
      .owl-video-play-icon {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        background: url('../images/play-icon.png');
        background-position: center;
        background-repeat: no-repeat;
      }
      .owl-video-frame {
        height: 0;
        padding-bottom: 56.25%; // 16:9 aspect ratio

        iframe {
          position: absolute;
          width: 100%;
          height: 100%;
        }
      }
    }
  }


  // Navigation left/right interaction
  .owl-nav {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    width: 100%;
    height: 100%;
    pointer-events: none;

    .owl-prev, .owl-next {
      position: absolute;
      top: 0;
      left: 0;
      width: 10vw;
      height: 100%;
      pointer-events: all;
      opacity: 1;
      @include prefix(transition, all 0.3s ease);

      &:before {
        content: "";
        position: absolute;
        top: 0; 
        left: 0;
        width: 100%;
        height: 100%;
      }
      &:after {
        content: "";
        position: absolute;
        top: 70%;
        left: 0;
        width: 0.75rem;
        height: 0.75rem;
        margin: 1rem;
        border-bottom: 1px solid $white;
        border-left: 1px solid $white;
        @include prefix(transition, all 0.3s ease);
        @include prefix(transform-origin, center);
        @include prefix(transform, rotate(45deg));

        &:hover {

        }

        @include tabletAndUp() {
          top: 50%;
          margin: 1.5rem;
          width: 1.5rem;
          height: 1.5rem;
        }
      }
      &.disabled {
        opacity: 0;
        pointer-events: none;
      }
    }
    .owl-prev {
      // cursor: url('../images/arrow-left.png'), pointer;
      cursor: w-resize;

      &:before {
        @include horizontal-gradient(rgba($light, 0.1), rgba($light, 0));
        @include prefix(transform, skewY(20deg) translateY(0));
      }
      &:hover:before {
        @include horizontal-gradient(rgba($light, 0.2), rgba($light, 0));
      }
    }
    .owl-next {
      left: auto;
      right: 0;
      // cursor: url('../images/arrow-right.png'), pointer;
      cursor: e-resize;

      &:before {
        @include horizontal-gradient(rgba($light, 0), rgba($light, 0.1));
        @include prefix(transform, skewY(20deg) translateY(-30%));
      }
      &:after {
        left: auto;
        right: 0;
        @include prefix(transform, rotate(-135deg));
      }
      &:hover:before {
        @include horizontal-gradient(rgba($light, 0), rgba($light, 0.2));
      }
    }
  }
  &.isActive .owl-prev,
  &.isActive .owl-next {
    pointer-events: all;
  }

  // Navigation 'dots'
  .owl-dots {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    max-width: 100vw;
    @include prefix(display, flex);
    @include prefix(justify-content, center);

    @media screen and (min-width: $vp_tablet) {
      padding-left: 12vw;
      padding-right: 4vw;
    }
  }
  .owl-dot {
    padding: 1rem 0;
    // margin-right: 0.5rem;

    span {
      display: block;
      width: 2rem;
      height: 0.125rem;
      background-color: rgba($black, 0.5);
    }
    &.active span, &.active:hover span {
      background-color: $white;
    }
    &:hover span {
      background-color: rgba($white, 0.1);
    }
  }
}
body.page--default .theatre__slide figure {
  max-height: calc(100vh - 7rem);
}
