.theatre {
  position: relative;
  background: $dark;
  color: $light;

  .theatre__quote {
    position: absolute;
    left: 4vw;
    top: 65vh;
    z-index: 2;
    width: calc(100% - 4vw);
    padding: 1rem;
    max-width: 45rem;
    color: $white;
    @include prefix(transform, translateY(10rem));
    @include prefix(transition, transform 2s cubic-bezier(0, 0, 0, 1));
    opacity: 0;
    @include prefix(text-shadow, 0 0 1rem rgba(0, 0, 0, 0.2));

    @media screen and (min-width: $vp_tablet) {
      top: 45vh;
    }
    p {
      font-size: 1.25rem;
      line-height: 1.5rem;

      @media screen and (min-width: $vp_tablet) {
        font-size: 2.5rem;
        line-height: 2.5rem;
      }
    }
  }
  .owl-carousel {
    padding: 20vh 0;
    height: max-80vh;

    @media screen and (min-width: $vp_tablet) {
      padding: 0;
    }
    @media screen and (max-width: ($vp_tablet - 1)) {
      .owl-stage-outer {
        background-color: rgba($black, 0.25);
      }
    }
  }
  .theatre__slide {
    width: 100vw;

    @media screen and (min-width: $vp_tablet) {
      padding-left: 12vw;
      padding-right: 4vw;
    }
    figure {
      max-height: 80vh;

      @media screen and (min-width: $vp_tablet) {
        width: 84vw;
      }
      &.video--isActive {
      }
    }
    .figure--video__link {
      position: absolute;
      top: 0;
      left: 0;
      @include prefix(display, flex);
      @include prefix(justify-content, center);
      @include prefix(align-items, center);
      width: 100%;
      height: 100%;
      cursor: url('../images/play-icon.png'), pointer;

      &:hover svg {
        display: none;
      }
      svg {
        width: 6rem;
      }
    }
    figure.video--isActive .figure--video__link {
      display: none;
    }
    .figure--video__wrapper {
      position: absolute;
      top: 0;
      left: 0;
      display: none;
      width: 100%;
      height: 0;
      padding-bottom: 56.25%; // 16:9 aspect ratio

      iframe {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        width: 100%;
        height: 100%;

        display: block;
        margin: auto;
        max-width: 100%;
      }
    }
    figure.video--isActive .figure--video__wrapper {
      display: block;
    }
  }


  // Navigation left/right interaction
  .owl-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;

    .owl-prev, .owl-next {
      position: absolute;
      top: 0;
      left: 0;
      width: 20%;
      height: 100%;
      pointer-events: all;
      opacity: 1;
      @include prefix(transition, all 0.3s ease);

      &:before {
        content: "";
        position: absolute;
        top: 0; 
        left: 0;
        width: 100%;
        height: 100%;
      }
      &.disabled {
        opacity: 0;
        pointer-events: none;
      }
    }
    .owl-prev {
      // cursor: url('../images/arrow-left.png'), pointer;
      cursor: w-resize;

      &:before {
        @include horizontal-gradient(rgba($light, 0.2), rgba($light, 0));
        @include prefix(transform, skewY(20deg) translateY(0));
      }
      &:hover:before {
        @include horizontal-gradient(rgba($light, 0.4), rgba($light, 0));
      }
    }
    .owl-next {
      left: auto;
      right: 0;
      // cursor: url('../images/arrow-right.png'), pointer;
      cursor: e-resize;

      &:before {
        @include horizontal-gradient(rgba($light, 0), rgba($light, 0.2));
        @include prefix(transform, skewY(20deg) translateY(-30%));
      }
      &:hover:before {
        @include horizontal-gradient(rgba($light, 0), rgba($light, 0.4));
      }
    }
  }

  // Navigation 'dots'
  .owl-dots {
    padding-left: 12vw;
    padding-right: 4vw;
    padding-top: 1rem;
    @include prefix(display, flex);
    @include prefix(justify-content, center);
  }
  .owl-dot {
    padding: 1rem 0;
    // margin-right: 0.5rem;

    span {
      display: block;
      width: 2rem;
      height: 0.125rem;
      background-color: rgba($black, 0.5);
    }
    &.active span, &.active:hover span {
      background-color: $white;
    }
    &:hover span {
      background-color: rgba($white, 0.1);
    }
  }
}
body.isLoaded .theatre__quote {
  @include prefix(transform, translateY(0));
  opacity: 1;
}
