.type-index {
  .type-index__header {
    @include prefix(display, flex);
    @include prefix(flex-direction, row);
    @include prefix(justify-content, center);
    @include prefix(align-items, center);
    padding: 1rem;
    background: $light;
    z-index: 3;

    & > a + a {
      margin-left: 1rem;
    }

    h3 {
      margin-right: 1rem;
      font-size: 2rem;
      opacity: 0.15;
    }
    a {
      color: inherit;
    }
  }
}
