// Button
.button {
  $oddity: 0.25rem;
  background-color: $white;
  margin-left: 1rem;
  padding: 0.5rem 1rem calc(0.5rem + #{$oddity}) calc(1rem + #{$oddity});
  color: rgba($dark, 0.6);

  @include prefix(clip-path, polygon(#{$oddity} 0%, 100% 0%, 100% 100%, 0% calc(100% - #{$oddity})));

  &:hover {
    background-color: $yellow;
    color: rgba($dark, 0.6);
  }
  &.button--primary {
    background-color: $yellow;
    color: rgba($dark, 0.6);

    &:hover {
      background-color: $white;
    }
  }
  &.button--primary {
    background-color: $white;
    color: rgba($dark, 0.6);

    &:hover {
      background-color: $yellow;
    }
  }
}
